* {
    font-family: 'Jetbrains Mono', monospace;
}

body {
    box-sizing: border-box;
    background: black;
    color: white;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 16px;
}

form {
    text-align: center;
}

input[type=submit] {
    background-color: blue;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}