* {
    font-family: 'Jetbrains Mono', monospace;
}

body {
    box-sizing: border-box;
    background: black;
    color: white;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 16px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

form * {
    margin-bottom: 5px;
}