.disconnect_link {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 6px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: .5s ease;
}
.disconnect_link:hover {
    background: blue;
}