<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    @css '/client.css'
    <script src="/client.js" defer></script>
</head>
<body>
    <form action="/login" method="POST">
        <h1>Login</h1>
        <label>Username
            <input type="text" name="username">
        </label><br><br>
        <label>Password
            <input type="password" name="password">
        </label><br><br>
        <input type="submit" value="Login">
        <p><a href="/register">Register</a></p>
    </form>
</body>
</html>
