<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Créer un compte</title>
  @css '/client.css'
  <script src="/client.js" defer></script>
</head>
<body>
<form action="/register" method="POST">
  <h1>Register</h1>
  <label for="username">Pseudo</label>
  <input type="text" name="username" required><br><br>
  <label for="password">Mot de passe</label>
  <input type="password" name="password" required><br><br>
  <label for="confirm-password">Confirmer mot de passe</label>
  <input type="password" name="confirm-password" required><br><br>
  <input type="submit" value="Créer un compte">
  <p><a href="/login">Déjà incrit ?</a></p>
</form>
</body>
</html>
