<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  @css '/client.css'
  <script src="/client.js" defer></script>
</head>
<body>
<form action="/register" method="POST">
  <h1>Register</h1>
  <label>Username
    <input type="text" name="username">
  </label><br><br>
  <label>Password
    <input type="password" name="password">
  </label><br><br>
  <label>Confirm password
    <input type="password" name="confirm-password">
  </label><br><br>
  <input type="submit" value="Register">
  <p><a href="/login">Already have an account ?</a></p>
</form>
</body>
</html>
